# Asadullah Aliyev _ Capstone project _ week 3 _ asadAI
Let's start by scraping the Wikipedia page -  https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M through BeautifulSoup and request packages. Then we filter table via **class** and **"td"** word and take first 3 items.

In [3]:
import requests
from bs4 import BeautifulSoup
r= requests.get("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")
soup = BeautifulSoup(r.content, "html.parser")
soup = soup.find_all("table", {"class":"wikitable sortable"})[0].find_all("td")
soup[0:3]

[<td>M1A</td>, <td>Not assigned</td>, <td>Not assigned
 </td>]

We can see from above output that **1st** td is for Postcode, **2nd** td is for Borough, **3rd** td is for Neighborhood. Considering this into account we can transform this data into a *pandas* dataframe. So let's start by creating an empty dataframe and add our data to it.

In [4]:
import pandas as pd

df = pd.DataFrame(columns= ["Postcode", "Borough","Neighborhood"]) # empty dataframe

for i in range(len(soup)):  # len(soup) stands for number of postcode, borough and neighborhood combinations
     if i % 3==0:  
        df= df.append({'Postcode': soup[i].text, 
                        'Borough': soup[i+1].text, 
                        'Neighborhood': str(soup[i+2].text).replace("\n","")},ignore_index=True)

print("rows, columns:", df.shape)
df.head()

rows, columns: (289, 3)

  Postcode           Borough      Neighborhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough. So for the 9th cell in the table on the Wikipedia page, the value of the Borough and the Neighborhood columns will be Queen's Park.

In [5]:
df.loc[df['Neighborhood'] == 'Not assigned','Neighborhood' ] =df.loc[df['Neighborhood'] == 'Not assigned','Borough' ]
df.iloc[8:9]

  Postcode       Borough  Neighborhood
8      M7A  Queen's Park  Queen's Park

We will process the cells that have an assigned borough. So, let's delete rows with a borough that is Not assigned. Then we will reset the index since it was distorted after deletion of 'Not assigned' rows.

In [8]:
df.drop(df.loc[df['Borough']=='Not assigned'].index, inplace=True)
df.reset_index(inplace=True, drop=True)
print("rows, columns:", df.shape)
df.head()

rows, columns: (212, 3)

  Postcode           Borough      Neighborhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M5A  Downtown Toronto       Regent Park
4      M6A        North York  Lawrence Heights

More than one neighborhood can exist in one postal code area. For example, in the table on the Wikipedia page, you will notice that M5A is listed twice and has two neighborhoods: Harbourfront and Regent Park. These two rows will be combined into one row with the neighborhoods separated with a comma.

In [9]:
# combine neighborhoods with same postal code area
for j in range(1,len(df)):
    if df['Postcode'].iloc[j]==df['Postcode'].iloc[j-1] and df['Borough'].iloc[j]==df['Borough'].iloc[j-1]:
        df['Neighborhood'].iloc[j]=df['Neighborhood'].iloc[j] + ", " + df['Neighborhood'].iloc[j-1]
        

# delete the duplicated row

df['Repeat']=""  # add an artificial column 'Repeat' for duplicated items
for j in range(0,len(df)-1):
    if df['Postcode'].iloc[j]==df['Postcode'].iloc[j+1] and df['Borough'].iloc[j]==df['Borough'].iloc[j+1]:
        df['Repeat'].iloc[j]=1   # type 1 against rows to be deleted

df.drop(df.loc[df['Repeat']==1].index, inplace=True) # delete rows containing 1 under 'Repeat' column
df.drop(['Repeat'], axis=1, inplace=True)   # delete the 'Repeat' column since now there is nothing to do with it
df.reset_index(inplace=True, drop=True)

df.head(11)

   Postcode           Borough                      Neighborhood
0       M3A        North York                         Parkwoods
1       M4A        North York                  Victoria Village
2       M5A  Downtown Toronto         Regent Park, Harbourfront
3       M6A        North York  Lawrence Manor, Lawrence Heights
4       M7A      Queen's Park                      Queen's Park
5       M9A         Etobicoke                  Islington Avenue
6       M1B       Scarborough                    Malvern, Rouge
7       M3B        North York                   Don Mills North
8       M4B         East York   Parkview Hill, Woodbine Gardens
9       M5B  Downtown Toronto          Garden District, Ryerson
10      M6B        North York                         Glencairn

In the last cell of your notebook, use the .shape method to print the number of rows of dataframe

In [10]:
print("rows, columns:", df.shape)

rows, columns: (103, 3)